body{
    font-family: 'Playfair Display', serif;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #f7f6f6;
    width: 100%;
    height: 100%;
}
#logo{
    position: relative;
    left: .5em;
    top: .5em;
    width: 11em;
    padding: 0;
    margin: 0;  
}
.nav{
    float: right;
    list-style-type: none;
    padding-right: 2.5em;
    padding-top: .9em;
    margin: 0;
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}
.nav li{
    display: inline-block;
}
.nav li a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 1.4em 1em 1.4em .5em;
    text-align: center;
    cursor: pointer;
}
.nav li a:hover{
    color: #585858
}
.dropcont {
    display: none;
    position: absolute;
    padding: 0;
    list-style-type: none;
}
.dropcont li a{
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 2em;
    width: 10em;
    color: #000000
}
.dropdown:hover .dropcont{
    display: block;
}
#active a{
    color: #6074a2;
}
header{
    position: fixed;
    top: 0;
    background-color: #000000;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    height: 5em; 
    z-index: 50;
}
.top{
    margin: 0;
    padding: 0;
    position: absolute;
    top: .5em;
    text-align: center;
    font-size: 8em;
    width: 100%;
    color: #6074a2;
    font-family: 'Raleway', sans-serif;
}
#box{
    width: 96%;
    min-height: 70%;
    position: absolute;
    top: 15em;
    left: 2%;
    padding-bottom: 6em;
}
.postwrap{
   background-color: #ffffff;
    width: 90%;
    min-height: 70%;
    position: relative;
    top: 0%;
    left: 5%;
}
.post{
    position: relative;
    padding: 1.5em;
    font-size: 1.08em;
    border-bottom: .05em solid #dedede;
}
.title{
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #6074a2;
}
.date{
    padding: 0;
    font-size: .75em;
    color: #6074a2;
}
footer{
    position: absolute;
    bottom: 0;
    height: 5em;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}
.social{
    display: inline-block;
    position: relative;
    top: .8em;
}
.social img{
    width: 2.3em;
}
.email{
    padding: 1em;
    border-right: .02em solid;
    text-decoration: none;
    color: #000000;
}
#vnav{
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    background-color: #000000;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#vnav ul{
    list-style-type: none;
    margin: 0;
    padding:0
} 
#vnav li{
    display: inline-block;
    font-size: .9em;
}
#vnav li a{
    color: #ffffff;
    display: block;
    padding: .7em;
    text-decoration: none;
}
#vnav li a:hover{
    color: #6074a2;
}
#vcont{
    padding: 0;
    margin: 0;
    display: none;
}
#vcont:target{
    display: inline-block;
}
#vclose:target #vcont{
    display: none;
}